doctype html
html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Diplom
  link(rel='stylesheet',href="./assets/css/app.css")
body
    //include ./components/feauteres.pug
    section.section 
      header.header 
        a(href="#").logo
          img(src="./assets/img/LOGO.png", alt="img")
        .menu
          a.menu__text(href="#") Home
          a.menu__text(href="#") Product
          a.menu__text(href="#") Faq
          a.menu__text(href="#") Contact
        .bella 
          .text_list
            p.text1 Food app
            p.text2 Why stay hungry when
              p.text2 you can order form Bella Onojie
            p.text3 Download the bella onoje’s food app now on
          .bella_button 
            a(href="#").button Playstore
            a(href="#").btn App store
      .block_img 
        img.pictures(src="./assets/img/contentmob.png", alt="img")

        
      section.content 
            
            .line
            h1.h How the app works
            .shop 
              .pic 
                img(src="./assets/img/Rectangle.png", alt="img")
              .info
                p.text_h2 Create an account
                p.text_price Create/login to an existing account to get started
                p.text_price2 An account is created with your emailand a desired password
            .shop 
              .info
                p.text_h2 Explore varieties
                p.text_price Shop for your favorites meal as e dey hot.
                p.text_price2 Shop for your favorite meals or drinks and enjoy while doing it.
              .pic 
                img(src="./assets/img/Rectangle2.png", alt="img")
                
            .shop 
              .pic 
                img.pic(src="./assets/img/Rectangle3.png", alt="img")
              .info
                p.text_h2 Checkout
                p.text_price When you done check out and get it delivered.
                p.text_price2 When you done check out and get it delivered with ease.
      .footer  
          .text_futer
            p.footer__info1 Download the app now.
            p.footer__info2 Available on your favorite store. Start your premium experience now
            
          .footer_button 
            a(href="#").button.footer__btn Playstore
            a(href="#").btn.footer__btn2 App store
      .menu__footer 
            a(href="#") 
              img.logo(src="./assets/img/LOGO.png", alt="img")
            .menu__pic
                a(href="#").pic 
                  img(src="./assets/img/footer1.png", alt="pic")
                a(href="#").pic
                  img(src="./assets/img/footer2.png", alt="pic")
                a(href="#").pic
                  img(src="./assets/img/footer3.png", alt="pic")
            p.text_end Copywright 2020 Bella Onojie.com

